@model IdentityServer3.Core.ViewModels.LogoutViewModel

@{
   Layout = "Layout";
}

<div class="page-header">
    <h1>Logout</h1>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <p>Would you like to logout of @Model.SiteName?</p>
        <form name="form" method="post" action="@Model.LogoutUrl">
            @if (Model.AntiForgery != null)
            {
                <input type="hidden" name="@Model.AntiForgery.Name" value="@Model.AntiForgery.Value"/>
            }

            <fieldset>
                <div class="form-group">
                    <button class="btn btn-primary">Yes</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>